/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.4em;
  }
  footer{
    font-size: .9em;
  }
  .songkick {
    font-size: 1em;
  }
  #pixel-animation {
    display: none;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h2 {
    font-size: 2em;
    margin-top: -40px;
  }
  h3 {
    font-size: 1.4em;
    margin: 0;
    padding: 10px 0 0 0 ;
  }
  footer{
    font-size: 1em;
  }
  .songkick {
    font-size: 1.2em;
  }
  #listen-links{
    width: 50%;
    float: left;
    margin-bottom: 15px;
  }
  #social-links {
    width: 50%;
    float: left;
    text-align: right;
  }
  /* image element */
  #pixel-animation {
    display: none;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h2 {
    font-size: 1.6em;
    margin-top: 0;
  }
  h3 {
    font-size: 1.2em;
      /* top | right | bottom | left */
    padding: 0 0 0 0;
    margin: 0 0 20px 0 ;
  }
  footer{
    font-size: .8em;
  }
  #listen-links-div {
    width: auto;
    float: none;
    margin-bottom: 0;
  }
  #social-links-div {
    width: auto;
    float: none;
    text-align: left;
  }
  /* image element */
  #pixel-animation { 
    display: inline;
  }
  .main-list-link {
    font-size: 1.2em;
    letter-spacing: .6em;
    /* top | right | bottom | left */
    padding: 0;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.4em;
      /* top | right | bottom | left */
    padding: 0 0 0 0;
  }
  footer{
    font-size: .8em;
  }
  .main-list-li {
    /* top | right | bottom | left */
    margin: 10px 0 10px 0;
  }
  .main-list-link {
    font-size: 1.3em;
    letter-spacing: .8em;
  }
}
