/* blue: #66d9ef  rgb(102, 217, 239)
green: #45c468  rgb(69, 196, 104)
pink: #ff79c6  	rgb(255, 121, 198)
purple:  #03caa3  	rgb(189, 147, 249)
bg: #282a36  	rgb(40, 42, 54) */

body {
background: rgb(0,0,0);
background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(16,16,16,1) 78%, rgba(32,32,32,1) 90%, rgba(42,42,42,1) 96%, rgba(49,49,49,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(16,16,16,1) 78%, rgba(32,32,32,1) 90%, rgba(42,42,42,1) 96%, rgba(49,49,49,1) 100%);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(16,16,16,1) 78%, rgba(32,32,32,1) 90%, rgba(42,42,42,1) 96%, rgba(49,49,49,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#313131",GradientType=1);
  /* background-image: url('../images/sketch-still.gif');
  background-repeat: repeat;
  background-attachment: fixed; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #999999;
}


h2 {
  text-transform: lowercase;
  color: white;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 8px;
  letter-spacing: 1em;
  /* top | right | bottom | left */
  padding: 20px 0 0 0;
}

h3 {
  font-weight: 300;
  text-transform: lowercase;
  color: white;
  font-size: 1.1em;
  letter-spacing: .4em;
  padding-top: 20px;
  margin-bottom: 16px;
}

.header {
  margin-bottom: 20px;
  margin-top: 28px;
}

.container {

}

.artist-pic {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* top | right | bottom | left */
  margin: 20px 0 20px 0;
}

form {
  font-size: .95em;
  padding-top: 16px;
  padding-bottom: 8px;
  color: #999999;
}

.form-control {
  background-color: #282a36;
  border: 0;
}

.form-control::after {
  background-color: #282a36;
  border: 0;
  color: white;
}

#email:focus {
  color: #000;
  background-color: #03caa3;
  border-color: #03caa3;
  font-weight: bold;
  outline: none;
}


#email {
  background-color: #282a36;
  border: 0;
  color: white;
}

.btn {
  background-color: #282a36;
  border: 0;
  color: #999999;;
}

ul{
  margin-bottom: 12px;
  list-style-type: none;
  padding-left: 0;
}

/* makes list horizontal */
#main-list-wrapper {
  display: inline-flex;
  width: 100%;
}
#listen-links-div {
  width: 50%;
}
/**/

.mobile-pullup{
  margin-top: -30px;
}
.main-list-link{
  letter-spacing: .6em;
}
.main-list-li {
  margin-bottom: 8px;
}
#social-links-div{
  text-align: right;
  width: 50%;
}
#social-links-div h2{
  margin-right: -17px;
}
#social-links-div .main-list-link{
  margin-right: -6px;
}
#showwrapper > a {  /* center songkick link */
  margin-top: 18px;
}
#pixel-animation {
  display: none;
}


#showwrapper{
  display: flex;
  /* top | right | bottom | left */
  margin: 0 0 8px 0;
}

#skcontainer{
  width: 27px;
  height: 27px;
}

#venue-list {
  display: inline;
  text-align: justify;
}

.venue-list-item {
  float: left;
  padding-right: 1.25em;
  letter-spacing: .2em;
}

p a {
  letter-spacing: 0em;
}

footer {
  color: black;
  font-size: .85em;
  /* top | right | bottom | left */
  padding: 0 0 10px 0;
}

#showwrapper > a {
  margin-top: 12px;
}

/* unvisited link */
a:link {
    color: #03caa3;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

/* visited link */
a:visited {
    color: #03caa3;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    background-color: #333333;
    color: black;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -ms-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}

/* selected link */
a:active {
    color: #66d9ef;
    text-decoration: none;
}


#code-input-label {
  font-size: 2em;
}

#secret-link {
  margin-top: 16px;
}

#download-header {
  margin-top: -24px;
  margin-bottom: 40px;
}