<div class='row header'>
	  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
	    <img class="img-fluid" src="images/logo.png">
	  </div>

	  <div class="col-xl-4 col-lg-4 col-md-0 col-sm-12 col-12">
	    <img id='pixel-animation' class="img-fluid" src="images/bg-ani-strip.gif">
	  </div>
	</div>
	<div class='col-xs-8 col-sm-8 col-md-6 col-lg-4 col-xl-4'>
		<form action="/code-auth" method="POST">
		  <div class="form-group">
		  	<% if flash[:notice] %>
          <label id="code-input-label" for="code-input"><%= flash[:notice] %></label>
        <% else %>
			    <label id="code-input-label" for="code-input">enter code</label>
		    <% end %>
		    <input type="code" class="form-control" id="code" placeholder="in this box." name="code">
		  </div>
		  <button type="submit" class="btn btn-primary">submit</button>
		</form>
		<% if flash[:notice] == 'success' %>
			<div id="secret-link">
				<ul>
					<li><a href="<%= @mp3link %>" target="_blank">MP3</a></li>
					<li><a href="<%= @wavlink %>" target="_blank">WAV</a></li>
				</ul>
			</div>
		<% end %>
	</div>
</div>