<% require 'pry' %>

<div class='row'>
	<div class='col-4'>
		<form action="/code-auth" method="POST">
		  <div class="form-group">
		  	<% if flash[:notice] %>
          <label id="code-input-label" for="code-input"><%= flash[:notice] %></label>
        <% else %>
			    <label id="code-input-label" for="code-input">enter code</label>
		    <% end %>
		    <input type="code" class="form-control" id="code" placeholder="in this box." name="code">
		  </div>
		  <button type="submit" class="btn btn-primary">submit</button>
		</form>
		<% if flash[:notice] == 'success' %>
			<div id="secret_link"><%= @link %></div>
		<% end %>
	</div>
</div>