<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel='stylesheet' href='css/style.css'>
    <link rel='stylesheet' href='css/responsive.css'>


    <title>cheapdinosaurs.com</title>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111131306-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111131306-3');
    </script>

    <script type="application/ld+json">
          "@context": "http://schema.org",
          "@type": "MusicGroup",
          "@id": "https://www.cheapdinosaurs.com/",
          "name": "Cheap Dinosaurs",
        "description": "Cheap dinosaurs is a psychedelic rock band that creates instrumental music. Based out of Philadelphia and led by Dino Lionetti, Cheap Dinosaurs' etherial experience combines catchy melodies with jagged, rusty, driving rhythms, arcade aesthetics, loud guitars, and dirty synthesizer leads. The band is a collective of game composers and technoligists who are instrumentalists.",
          "logo": {
              "@type": "ImageObject",
              "url": "https://www.cheapdinosaurs.com/images/raptorClaw.png"
          },
          "image": {
              "@type": "ImageObject",
              "url": "https://www.cheapdinosaurs.com/images/cheapDinosBandPhoto.jpg"
          },
          "url": "https://www.cheapdinosaurs.com/",
          "genre": [
              "Psychadelic Synth Rock",
              "VGM"
          ],
          "sameAs": [
              "https://facebook.com/cheapdinosaurs",
              "https://twitter.com/cheapdinosaurs",
              "https://www.youtube.com/channel/UCjhKhFZZEvLNmJtoWX1KfFA",
          ],
          "member": [
              {
                  "@type": "Sythesizers",
                  "member": {
                      "@type": "Person",
                      "name": "Dino Lionetti",
                  },
                  "roleName": [
                      "sythesizers",
                      "composer",
                  ]
              }
          ]
          "member": [
              {
                  "@type": "Guitar",
                  "member": {
                      "@type": "Person",
                      "name": "Joey Mariano",
              "alternateName": "nml styl",
                      "sameAs": "https://www.nmlstyl.com/"
                  },
                  "roleName": [
                      "Guitar",
                  ]
              }
          ]
          "member": [
              {
                  "@type": "Bass",
                  "member": {
                      "@type": "Person",
                      "name": "Paul Weinstein",
              "alternateName": "Chipocrite",
                      "sameAs": "https://www.chipocrite.com/"
                  },
                  "roleName": [
                      "Bass",
                      "Guitar",
                  ]
              }
          ]
          "member": [
              {
                  "@type": "Drums",
                  "member": {
                      "@type": "Person",
                      "name": "Kev Ragone",
                  },
                  "roleName": [
                      "drums",
                  ]
              }
          ]
      };
    </script>
  </head>

  <body>
    <div class="container">

    <%= yield %>

    <!-- Optional JavaScript -->
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
   <footer><strong>Ⓒ</strong> cheap dinosaurs 2018</footer>
   </div>
     <script src="js/bootstrap.min.js"></script>
  </body>

</html>
