<!DOCTYPE html>
<html>

<head>
	<title>CHEAP DINOSAURS</title>
	<meta charset="utf-8" />
	<meta name="keywords" content="Chip Music, Chiptune, Prog Rock, VGM, Guitar, Synth, Synthesizer, Gameboy, Nintendo Music, Band" />
	<meta name="description" content="Homepage of the prog rock, chip music band Cheap Dinosaurs" />
	<meta name="author" content="Joey" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<title></title>
</head>

<body>

    <%= yield %>

</body>

</html>
