<div id="logo"><img src="/images/cheapdinos-ani-full.gif" alt=""></div>
<div id="links">
  <span style="background-color: #00FFAA"><a href="http://cheapdinosaurs.bandcamp.com" target="_blank">BANDCAMP</a></span>
  <span style="background-color: #00FFAA"><a href="http://twitter.com/cheapdinosaurs" target="_blank">TWITTER</a></span>
  <span style="background-color: #00FFAA"><a href="http://facebook.com/cheapdinosaurs/" target="_blank">FACEBOOK</a></span>
</div>

<div id="pics">
  <img src="/images/dino1.gif">
  <img src="/images/joey1.gif">
  <img src="/images/paul1.gif">
  <img src="/images/kev.gif">
  <img src="/images/world-science-fest.gif">
</div>
